POSTGRES_PASSWORD=replace-with-random-secret
MYSQL_PASSWORD=replace-with-random-secret
MYSQL_ROOT_PASSWORD=replace-with-random-secret
NATS_TOKEN=replace-with-random-secret
EEW_NATS_TOKEN=replace-with-the-same-nats-token
EEW_CONFIG_PATH=../config.yaml
EEW_DOCKER_NETWORK=eew-relay
